:root {
    --orange: rgba(252, 164, 48, 0.9);
    --blue: rgb(146, 213, 230);
    --dark-green: #284243;
    --light-gray: #f1f4f7;
}


h1, h2, p {
    color: var(--dark-green);
}

h3 {
    color: var(--dark-green);
}

main {
    display: block;
    margin-top: 80px;
}

.about {
    padding: 1em 0 0.5em 0;
}

.align-bottom {
    position: relative;
    bottom: 3px;
}

.blue {
    color: var(--blue);
}

.btn-blue {
    background-color: var(--blue);
    color: var(--dark-green);
}

.btn-green {
    background-color: var(--dark-green);
    color: white;
}

.btn-orange {
    background-color: var(--orange);
}

.circle {
    border-radius: 100%;
    background-color: var(--light-gray);
    font-weight: bolder;
    font-size: x-large;
    padding: 0.5em;
    margin: 1em 0.5em 0 0;
    text-align: center;
    color: var(--dark-green);
}

.contact {

}

.description {
    width: 50%;
    background-color: rgba(241, 244, 247, 0.5);
    padding: 0.5em 1em;
    border-radius: 3px;
}

.full-height {
    position: relative;
}

.highlight {
    background-color: rgba(252, 164, 48, 0.8);
    padding: 1em 1em;
    text-align: center;
    border-radius: 3px;
    width: 60%;
    margin: auto;
    /*box-shadow: 0 0 0 0 var(--orange);*/

}

.jumbotron {
    background-image: url("../images/computer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: inherit;

}
.me {
    margin-left: 30%;
}

.jumbotron-web-apps {
    background-image: url("../images/code.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: inherit;
}

.navbar-dark {
    background-color: var(--dark-green);
}

.nav-link {
    font-size: larger;
}

.orange {
    color: var(--orange);
}

.row {
    margin-top: 1em;
}

.services {
    border-radius: 6px;
    background-color: var(--light-gray);
    margin: 0.5em;
    padding: 0.5em 1em;
    width: 31%;
}

.testimonial {

}


@media (max-width: 770px) {

    .display-3 {
        font-size: 1.75em;
        font-weight: 400;
    }

    .highlight {
        padding: 0.5em;
        width: 100%;
    }

    .me {
        margin: 0;
    }

    .services {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .description {
        width: 100%;
    }
}

